@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toastify-toast-width: 400px;
    --toastify-color-warning: #ec9b00;
    font-family: "Poppins", sans-serif;
}
